.portret {
  display: flex;
  position: relative;
  transform: translateX(-15%) translateY(5%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: 25px;
  filter: drop-shadow(12px -3px rgb(164, 164, 243));
}

.container {
  display: flex;
  margin: 5px;
}

span {
  display: flex;
  place-items: center;
  background-color: rgb(164, 164, 243);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transform: translateX(120%) translateY(40%);
  z-index: 1;
}

span .icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: white;
}
