.arrowIcon, .arrowIcon2 {
    display: inline;
    margin: 15px;
    color: rgb(226, 226, 253);
    font-size: 2rem;
    cursor: pointer;
}

.arrowIcon:hover, .arrowIcon2:hover {
    color: rgb(164,164,243);
    transition: 1500ms;
  }

.prev-btn, .next-btn {
    border: none;
    background-color: transparent;
}
