.btn-random {
  display: block;
  text-align: center;
  font-size: 20px;
  padding: 12px 22px;
  cursor: pointer;
  border: none;
  font-family: ui-sans-serif;
  border-radius: 8px;
  background-color: rgb(226, 226, 253);
  color: rgb(28, 28, 36);
}

/*   */
