* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}


h3 {
  font-size: 36px ;
  weight: 50px;
}